{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<h1> Sign In </h1>

<form action = "" method = "POST">
    {{form.hidden_tag()}}
    {{wtf.form_field(form.username)}}
    
    {{wtf.form_field(form.password)}}

    {{wtf.form_field(form.remember_me)}}  
    {{wtf.form_field(form.submit)}}       
</form>

<a href="{{ url_for('studentauth.ssologin') }}" class="btn btn-main-red col-3" style = "width:17%">Log in with SSO</a>
<br> <br>

New User? <a href =  "{{url_for('studentmain.main')}}"> Click to Register </a>
{% endblock %}