<!-- We add an id for the table to update the HTML content of the table through JavaScript.  -->

{% block content %}

<h2 style = "color : rgb(174, 34, 34)" class = "mt-3 mb-3" >Available Research Positions</h2>

<table class="table table-striped">
    <head>
        <tr class="table-danger table-bordered">
            <th>Title</th>
            <th>Posted by</th>
            <th>Start</th>
            <th>End</th>
            <th>Team Size</th>
            <th>Min GPA</th>
            <th>Reference</th>
            <th>Actions</th>
        </tr>
    </head>

    <body>
        {% for pos in all_positions %}
            <tr>
                <td>
                    <a href="javascript:void(0)" onclick="get_position('{{ pos.position_id }}')">
                        {{ pos.position_title }}
                    </a>
                </td>
                <td style = "color:brown"> {{pos.get_advisor_name()}}</td>
                <td> {{ pos.start_date }}</td>
                <td> {{ pos.end_date }}</td>
                <td> {{ pos.team_size }}</td>
                <td> {{ pos.min_gpa }}</td>
                <td>{{pos.needs_reference()}}</td>
                {% if current_user.has_applied(pos.position_id) %}
                <td> <a href="{{ url_for('studentmain.view_application', application_id = current_user.get_application(pos.position_id).application_id)}}"
                    class = "btn btn-main-red">
                    View Applicaiton </a> </td>
                {% else %}
                <td>
                    <a href="{{ url_for('studentmain.apply_position', position_id = pos.position_id)}}" class = "btn btn-main-apply"> Apply</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <div id="position-details-div" hidden = true>
        <div id = "position-card-container"> </div>
    <button class="btn btn-secondary mt-3" onclick="reset_position()" > Collapse </button>
    </div>
{% endblock %}

{% block script %}
<script>
    async function get_position(position_id) {
        const url = "{{url_for('studentmain.position_data', position_id = 'POSITION_ID')}}".replace("POSITION_ID", position_id);
        try {
            const response = await fetch(url);
            if(!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }
            const json = await response.json();
            console.log(json)
            build_position(position_id, json);
        } catch(error) {
            console.error(error.message)
        }
    }

    function build_position(position_id, data) {
        reset_position();
        const main_div = document.getElementById("position-details-div");
        const pos_container = document.getElementById("position-card-container");
        const card = `<div class="card" style="width: 100%; background-color: #f5f0eb;"> 
                <div class="card-header" style="background-color: rgb(231, 170, 170)">
                <h3 style="background-color: rgb(231, 170, 170);">${data.position_title}</h3>
                </div>
                    <div class="card-body"> 
                        <p> <strong> Posted by </strong>:  ${data.advisor}</p>
                        <p> <strong> Description</strong>:  ${data.description}</p>
                        <p> <strong> Research Topics</strong>: ${data.topics.join(", ")}</p>
                        <p> <strong> Required Courses</strong>: ${data.courses.join(", ")}</p>
                        <p> <strong> Required Languages</strong>: ${data.languages.join(", ")}</p>
                        <p> <strong> Preferred Majors</strong>: ${data.majors.join(", ")}</p>
                        </div>
                </div>`

            pos_container.innerHTML = card;
        
        main_div.hidden = false;
    }

    function reset_position() {
        document.getElementById("position-card-container").innerHTML = "";
        document.getElementById("position-details-div").hidden = true;

    }
    
</script>
{% endblock %}
